[Desktop Entry]
Author=Andreas Kuhl
AuthorEmail=mail@andreas-kuhl.de
Description=Letter head with post stamp
FileName=header.html
Name=Letter head / Signed email fix
ThemeVersion=2.1
